@import url(Home.sm.css);

@font-face {
  font-family: 'Gtec';
  src: local('gtec'), url('../../fonts/gtec.ttf') format('truetype');
}

.bg_video {
  pointer-events: none;

  min-height: 100vh;
  min-width: 100vw;

  position: absolute;
  top: calc(50% - 50vh);
  left: calc(50% - 50vw);

  z-index: -1;
}

.header-logo {
  animation: rotate 1.4s linear 1 forwards;
}

.hero {
  width: 100%;
  height: 100vh;
  padding: 60px;
  position: relative;
  overflow: hidden;
}

.animation-scene-left-line {
  content: '';
  width: 150px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  animation: leftLine 1.5s 1 alternate;
}

.animation-scene-right-line {
  content: '';
  width: 150px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 95%;

  transform: translateX(-50%);
  animation: rightLine 1.5s 1 alternate;
}

.animation-line-first {
  width: 150px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  right: calc(50% - 150px);

  transform: rotate(90deg);

  transition-duration: 1.5s;
  transition-delay: 0.8s;
}

.animation-line-first-animation {
  transform: rotate(0);
}

.animation-line-second {
  width: 150px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 0;

  transform: rotate(-90deg);

  transition-duration: 1.5s;
  transition-delay: 0.8s;
}

.animation-line-second-animation {
  transform: rotate(0);
}

.hero-header {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 15px;

  width: 45px;
  height: 45px;

  position: relative;
  z-index: 2;
}

.header-menu span {
  display: block;

  width: 100%;

  height: 1px;
  background: #fff;

  transition: width 0.3s ease;
}

.header-menu span:nth-child(1) {
  transform-origin: 100% 100%;
  transition: transform 0.4s ease-in-out;
}
.header-menu span:nth-child(2) {
  transition: transform 0.2s ease-in-out;
}
.header-menu span:nth-child(3) {
  transform-origin: 100% 0%;
  transition: transform 0.4s ease-in-out;
}

.header-menu.active span:nth-child(1) {
  transform: rotate(-45deg);
}
.header-menu.active span:nth-child(2) {
  transform: scaleY(0);
}
.header-menu.active span:nth-child(3) {
  transform: rotate(45deg);
}

/* .header-menu span:nth-child(1) {
  width: 30px;
}

.header-menu span:nth-child(2) {
  width: 60px;
}

.header-menu span:nth-child(3) {
  width: 41px;
}

.header-menu.active span:nth-child(1) {
  width: 30px;
}

.header-menu.active span:nth-child(2) {
  width: 50px;
}

.header-menu.active span:nth-child(3) {
  width: 70px;
} */

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  position: relative;

  animation: appearance 2.5s ease-in forwards;
}

.first-slide__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  font-family: 'Gtec';
}

.hero-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 36px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-top: 60px;

  animation: appearance 2.5s ease-in forwards;
}

.menu[wobble='1'] {
  animation: fadeOut 1.5s;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li:first-child {
  margin-left: 0;
}
.menu ul li {
  margin-left: 50px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-family: 'Gtec', sans-serif;
}

.about-us {
  width: 100%;
  max-width: 800px;
  text-align: center;
  font-family: 'Zen Tokyo Zoo', cursive;
  color: #fff;
  font-size: 21px;
}

.vision {
  width: 100%;
  max-width: 800px;
  text-align: center;
  text-align: center;
  font-family: 'Zen Tokyo Zoo', cursive;
  color: #fff;
  font-size: 21px;
}

footer {
  position: relative;
}

footer::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 1px;
  height: 100px;

  transition: all 2.5s;
}

footer.active::before {
  bottom: 0;
}

.footer-name {
  font-family: 'Gtec', sans-serif;
}

.footer-name span {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 30px;
}

.footer-reserved {
  font-family: 'Gtec', sans-serif;
}

.footer-reserved span {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 30px;
}

.black-bar__top {
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: #f1f1f1;
  z-index: 10;

  animation: barLeft 1.5s forwards, barLeft 1.5s 5.5s reverse forwards;
}

.black-bar__bottom {
  position: absolute;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  background: #f1f1f1;
  z-index: 10;
  animation: barRight 1.5s forwards, barRight 1.5s 5.5s reverse forwards;
}

.loadTopStart {
  position: absolute;
  top: 0;
  left: calc(50% - 50vw);
  width: 50%;
  height: 100%;
  background: #f1f1f1;
  z-index: 10;

  animation: loadTop 3s ease;
}

.loadBottomStart {
  position: absolute;
  top: 0;
  right: calc(50% - 50vw);
  width: 50%;
  height: 100%;
  background: #f1f1f1;
  z-index: 10;

  animation: loadBottom 3s ease;
}

.animation-loader {
  opacity: 0;

  width: 161px;
  height: 161px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;

  background-color: #c3c3c3;
  z-index: 0;
}

.animation-loader > img {
  animation: rotate 1.5s linear infinite;
}

.spinner {
  display: block;

  min-width: 100%;
  height: 100%;

  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #1f1f1f;
  animation: prixClipFix 2.5s linear infinite;
}

.animation-loader > img {
  width: 60%;
}

.animation-loader-scene {
  animation: appearanceToLoader 0.5s 1.5s forwards,
    appearanceToLoader 1.5s 4s reverse forwards;
}

.hero-first-slide > a > img {
  width: 724px;
}

@keyframes barLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes barRight {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes leftLine {
  to {
    left: 0;
  }
}

@keyframes rightLine {
  to {
    right: 0;
  }
}

@keyframes loadTop {
  from {
    left: calc(50% - 50vw);
  }
  to {
    left: -100%;
  }
}

@keyframes loadBottom {
  from {
    right: calc(50% - 50 vw);
  }
  to {
    right: -100%;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearanceToLoader {
  from {
    opacity: 0;
    z-index: 0;
  }
  to {
    opacity: 1;
    z-index: 127381293712;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
