@font-face {
    font-family: "Gtec";
    src: local("gtec"), url("../fonts/gtec.ttf") format("truetype");
}
  
.hero{
    width: 100%;
    height: 100vh;
    background: #000D0F;
    padding: 60px;
    position: relative;

    overflow: hidden;
}

.animation-scene-left-line{
    content: "";
    width: 150px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    animation: leftLine 1.5s 1 alternate;
}

.animation-scene-right-line{
    content: "";
    width: 150px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateX(-50%);
    animation: rightLine 1.5s 1 alternate;
}

.animation-line-first{
    width: 150px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateX(-50%);
}


.animation-line-second{
    width: 150px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateX(-50%);
}


.hero-header{
    display: flex;
    justify-content: space-between;
}

.header-menu{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.header-menu span{
    display: block;
    transition: width .3s ease;
}

.header-menu span {
    width: 60px;
    height: 1px;
    background: #fff;
    margin-top: 10px
}

.header-menu span:first-child{
    width: 30px;
    height: 1px;
    background: #fff;
    margin-top: 0;
}

.header-menu span:last-child{
    width: 41px;
    height: 1px;
    background: #fff;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    position: relative;
}

.first-slide__title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    font-family: "Gtec";
}

.hero-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 36px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    margin-top: 60px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li:first-child{margin-left: 0;}
.menu ul li {
    margin-left: 50px;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-family: "Gtec", sans-serif;
}

.about-us{
    width: 100%;
    max-width: 800px;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #fff;
    font-size: 21px;
}

.vision{
    width: 100%;
    max-width: 800px;
    text-align: center;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #fff;
    font-size: 21px;
}

footer{
    position: relative;
}

footer::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 1px;
    height: 100px;
}

.footer-name{
    font-family: "Gtec", sans-serif;
}

.footer-name span{
    font-family: "Zen Tokyo Zoo", cursive;
    font-size: 30px;
}

.footer-reserved{
    font-family: "Gtec", sans-serif;
}

.footer-reserved span{
    font-family: "Zen Tokyo Zoo", cursive;
    font-size: 30px;
}

.black-bar__top{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #282828;
    z-index: 10;
    animation: barTop 1.5s 2 alternate;
}

.black-bar__bottom {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #282828;
    z-index: 10;
    animation: barBottom 1.5s 2 alternate;
}

.loadTopStart {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #282828;
    z-index: 10;
    animation: loadTop 3s ease;
}

.loadBottomStart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #282828;
    z-index: 10;
    animation: loadBottom 3s ease;
}


@keyframes barTop {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

@keyframes barBottom {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0%;
    }
}

@keyframes leftLine {
    from {
        left: 50%
    }
    to{
        left: 50px;
    }
}

@keyframes rightLine {
    from {
        left: 50%;
    }
    to{
        left: 95%;
    }
}

@keyframes loadTop {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}

@keyframes loadBottom {
    from {
        bottom: 0;
    }
    to {
        bottom: -100%;
    }
}