.nfc {
    width: 100%;
    height: 100vh;
    background: #000;
    padding: 30px;
    box-sizing: border-box;
}

.nfc-first {
    position: relative;
    height: 100%;
}

.nfc-header {
    position: relative;
    z-index: 5;
}

.header-menu span {
    display: block;
}

.header-menu span {
    width: 60px;
    height: 1px;
    background: #fff;
    margin-top: 10px
}

.header-menu span:first-child {
    width: 30px;
    height: 1px;
    background: #fff;
    margin-top: 0;
}

.header-menu span:last-child {
    width: 41px;
    height: 1px;
    background: #fff;
}

.top-nfc {
    position: absolute;
    top: -35px;
    right: -35px;
    z-index: 1;
}

.line-left {
    width: 150px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%);
    z-index: 999;
}


.line-right {
    width: 150px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(-50%);
    z-index: 999;
}

.reserved-index{z-index: 9999;}

.hero-footer::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
    background: #fff;
    width: 1px;
    height: 100px;
}

.nfc-second{
    width: 100%;
    height: 100%;
    background: #000;
    padding: 30px;
}

.nfc-third{
    width: 100%;
    height: 900px;
    background: #000;
    position: sticky;
}

.third-image{
    position: absolute;
    right: 0;
    top: -100px;
}

.third-text{
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    position: absolute;
    left: 100px;
}

.nfc-four{
    width: 100%;
    height: 700px;
    background: #000;
    position: relative;
}

.four-text{
    font-size: 20px;
    width: 100%;
    max-width: 400px;
    position: absolute;
    left: 100px;
}

.nfc-five{
    width: 100%;
    height: 700px;
    background: #000;
    position: relative;
}

.five-image{
    position: absolute;
    right: -10px;
}

.five-text{
    position: absolute;
    left: 100px;
    font-size: 20px;
    max-width: 400px;
    top: -300px;
}

.buy-now{
    width: 100%;
    height: 500px;
    background: #000;
    position: relative;
}

.buy-now__text{
    padding-left: 100px;
    max-width: 550px;
    width: 100%;
    margin-bottom: 200px;
}

.buy-now__btn{
    text-align: center;
}

.buy-now__btn a{
    padding: 10px 15px;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    color: red;
    width: 100px;
}

.nfc-six{
    width: 100%;
    height: 700px;
    background: #000;
    position: relative;
}

.six-image{
    position: absolute;
    top: -30px;
    right: 0;
}

.nfc-footer{
    width: 100%;
    height: 700px;
    background: #D2D2D2;
    position: relative;
}

.footer-link {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
}